:root {
    --bgcolor: #1a79cf;
  }
  
  * {
    margin: 0; 
    padding: 0;
  }
    
img{
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}


h1 
{
    text-align: center;
    font-size: 50px;
    padding: 20px;
}

h2
{
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

p{
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

ul{
    position: relative; 
	display: inline-block; 
	padding-left: 1em; 
	left: 50%; 
	transform: translateX(-50%); 
    font-size: 25px;
}

ol{
    position: relative; 
	display: inline-block; 
	padding-left: 1em; 
	left: 50%; 
	transform: translateX(-50%); 
    font-size: 25px;
}

table{
    position: relative; 
	display: inline-block; 
	padding-left: 1em; 
	left: 50%; 
	transform: translateX(-50%); 
    font-size: 30px;
    text-align: center;
 }



  a:visited {
    color: #fff;
  }
  
a:hover {
    color: rgb(137, 109, 163);
  }
  
  a:active {
    color: #fff;
  }
#knowledge{
display: table;
width: 40%;
border-collapse: collapse;
}

#knowledge tr{
    display: table-row;
}

  #knowledge td{
    
    display: table-cell;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
  }


 
  .header {
    background-color: var(--bgcolor);
    padding: 1.5rem;
    display: flex;
    justify-content: center;
   flex-direction: column;
    height: 100px;
    
  }

  .header p{
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding: 20px;
  }
 
  
  .navigation {
    margin: auto;
    display: flex;
    position: sticky; 
    align-items: center;
    justify-content: center;
    top: 0px;
    background-color: #000;
    flex-flow: row;
   height: 50px;
  }
  
  .link a{
    color: #fff;
  }
 
figcaption{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}
  
  
  
  